{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Patience Information Management</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'js/custom.js' %}"></script>
</head>
<body>
    <header class="site-header">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                           <a class="d-block" href="index.html" rel="home"><img class="d-block" src="images/logo.png" alt="logo"></a>
                        </div><!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
                                <li class="current-menu-item"><a href="index.html">Home</a></li>
                                <li><a href="about.html">Register</a></li>
                                <li><a href="services.html">Login</a></li>

                                <li class="call-btn button gradient-bg mt-3 mt-md-0">
                                    <a class="d-flex justify-content-center align-items-center" href="tel:07033389645"><img src="images/emergency-call.png"> +234-7033389645 </a>
                                </li>
                            </ul>
                        </nav><!-- .site-navigation -->

                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->

    </header><!-- .site-header -->
        <div class="homepage-boxes">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="opening-hours">
                        <h2 class="d-flex align-items-center">Opening Hours</h2>

                        <ul class="p-0 m-0">
                            <li>Monday - Thursday <span>8.00 - 19.00</span></li>
                            <li>Friday <span>8.00 - 18.30</span></li>
                            <li>Saturday <span>9.30 - 17.00</span></li>
                            <li>Sunday <span>9.30 - 15.00</span></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                    <div class="emergency-box">
                        <h2 class="d-flex align-items-center">Emergency</h2>

                        <div class="call-btn button gradient-bg">
                            <a class="d-flex justify-content-center align-items-center" href="#"><img src="images/emergency-call.png"> 07033333333</a>
                        </div>

                        <p>Incase of emergency, do not hesitate to give us a call on the line above, we'll try and provide help as soon as we can !</p>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 mt-5 mt-lg-0">
                    <div class="appointment-box">
                        <h2 class="d-flex align-items-center">Make an Appointment</h2>

                        <form class="d-flex flex-wrap justify-content-between">
                            <select class="select-department">
                                <option value="value1">Select Department</option>
                                <option value="value2">Accident and emergency (A&E)</option>
                                <option value="value3">Family Practice</option>
                                <option value="value3">General Clinical Research Center</option>
                                <option value="value3">General Medicine/Geriatrics</option>
                                <option value="value3">General Surgery</option>
                            </select>

                            <select class="select-doctor">
                                <option>Select Doctor</option>
                                <option>DR. Jane Doe</option>
                                <option>DR. John Doe</option>
                            </select>

                            <input type="text" placeholder="Name">

                            <input type="number" placeholder="Phone No">

                            <input class="button gradient-bg" type="submit" value="Book Appoitnment">
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="foot-about">
                            <h2><a href="#"><img src="images/logo2.png" alt=""></a></h2>

                            <p>We have 39 hospitals and one specialist cancer centre, across the NorthEast. Goto any of our locations to find out about getting fast access and treatment fpr you.

</p>

                            <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | TheRootTeam
                            </p>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                        <div class="foot-contact">
                            <h2>Contact</h2>

                            <ul class="p-0 m-0">
                                <li><span>Addtress:</span>No. 12, ABC Steet, Yola South</li>
                                <li><span>Phone:</span>070333333333</li>
                                <li><span>Email:</span>mel@example.com</li>
                            </ul>
                        </div>
                    </div><!-- .col -->

                    <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                        <div class="foot-links">
                            <h2>Navogations</h2>

                            <ul class="p-0 m-0">
                                <li><a href="/">Home</a></li>
                                <li><a href="#">Register</a></li>
                                <li><a href="#">Login</a></li>
                            </ul>
                        </div><!-- .foot-links -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets -->
    </footer><!-- .site-footer -->

    <script type='text/javascript' src='{% static "js/jquery.js" %}'></script>
    <script type='text/javascript' src='{% static "js/jquery.collapsible.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/swiper.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/jquery.countdown.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/circle-progress.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/jquery.countTo.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/jquery.countTo.min.js" %}'></script>
    <script type='text/javascript' src='{% static "js/jquery.barfiller.js" %}'></script>
    <script type='text/javascript' src='{% static "js/custom.js" %}'></script>
</body>
</html>